# VITE_BASE_HOST=http://localhost:3000
VITE_BASE_HOST=user-application.noisy-resonance-8ddf.workers.dev
# https://developers.cloudflare.com/workers/vite-plugin/reference/cloudflare-environments/
CLOUDFLARE_ENV=stage
# Google OAuth integration
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# Stripe integration
STRIPE_SECRET_KEY=""
# Sripe products
STRIPE_PRODUCT_BASIC="price_PRICE_ID"
STRIPE_PRODUCT_PRO="price_PRICE_ID"
STRIPE_PRODUCT_ENTERPRISE="price_PRICE_ID"
