# VITE_BASE_HOST=http://localhost:3000
VITE_BASE_HOST=user-application.noisy-resonance-8ddf.workers.dev
# https://developers.cloudflare.com/workers/vite-plugin/reference/cloudflare-environments/
CLOUDFLARE_ENV=stage
